*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #000000;
    background-color: #edecec;
    position: relative;
}

ul, li
{
    list-style: none;
}

a.BottoneHeader
{
    font-size: 1.1em;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
}

/*formattazione del skiplinks per l'accessibilità*/
#hiddenKeys
{
    position: absolute;
    left: 50%;
    top: -7.5em;
    padding: 0.75em;
}

/*formattazione dell'header*/
header
{
    background: #8f26e1;
    height: 4.5em;
}

#logo
{
    float: left;
    margin-left: 1.7em;
    margin-top: 0.3em;
    max-height: 3.9em;
    max-width: 8.7em;
    margin-right: 2.1em;
}

section.searchbar
{
    float: left;
    padding: 0.52em 0 0.5em 1.05em;
}

form
{
    display: flex;
    align-items: center;
    margin-top: 0.3em;
}

#Bottonelente
{
    background-color: transparent;
    border-style: none;
    margin-right: 1em;
    margin-top: 0.5em;
    cursor: pointer;
}

#submit
{
    max-width: 2.6em;
    max-height: 2.6em;
}

.searchbar span
{
    margin-right: 0.5em;
}

.searchbar input, .searchbar select
{
    border-style: hidden;
    outline: none;
    font-weight: 600;
    font-size: 16px;
}

.searchbar input
{
    padding: 0.597em 20px 10px 18px;
    border-right: 3px solid #666666;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.searchbar select
{
    padding: 0.59em 48px 10px 89px;
    margin-left: -0.3em;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

ul.filtri
{
    float: left;
    padding: 19px 6px 18px 12px;
}

ul.itemlist
{
    float: right;
    margin-right: 1.3em;
    padding: 18px 20px 16px 0;
}

ul.filtri li, ul.itemlist li
{
    display: inline-block;
}

#iscriviti
{
    margin-right: 0.7em;
}

ul.filtri a, ul.itemlist a
{
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    display: inline-block;
    border-radius:50px;
    padding: 5px 15px 5px 15px;
}

ul.itemlist a
{
    padding: 5px 20px 5px 20px;
}


ul.filtri a:hover, ul.itemlist a:hover
{
    text-decoration:none;
    background-color: #ffffff;
    color: #797575;
}

/*formattazione del main*/
main
{
    position: relative;
    width: 69em;
    margin: auto;
}

/*formattazione elemento in evidenza*/
img.immagine_in_evidenza
{
    float: left;
    width: 9.5em;
    height: 14em;
    margin-right: 2em;
    margin-bottom: 2em
}

p.titolo
{
    font-family: 'Outfit', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 2.2em;
    margin-bottom: 0.8em;
    color: #8711E3;
}

p.descrizione_elemento
{
    font-size: 0.9em;
}

span.sottotitolo
{
    font-weight: bold;
}

/*formattazione dettagli copie*/
section.elementi_in_evidenza div
{
    background-color: #8711E3;
    border-radius: 5px;
    margin-bottom: 1em;
}

h3
{
    font-family: 'Outfit', sans-serif;
    color: #FFFFFF;
    font-size: 1.4em;
    padding: 0.5em;
}

p.messaggio
{
    margin-left: 0.65em;
}

table
{
    margin-top: 2em;;
    border-collapse: collapse;
    width: 100%;
    border-top: 2px solid #8711E3;
    border-bottom: 2px solid #8711E3;
}

th
{
    border-bottom: 3px solid #c9c9c9;
    padding: 0.4em 0.45em;
}

td
{
    border-top: 1px solid #c9c9c9;
    padding: 0.4em 0.45em;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*formattazione del pulsante per tornare ad inizio pagina*/
.torna_su
{
    display: inline-block;
    background-color: #701DB2;
    width: 2.7em;
    height: 2.7em;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}

.torna_su:active
{
    background-color: #420c6c;
}

#freccia
{
    padding: 0.45em 0 0 0;
    width: 2em;
    height: 1.5em;
}

/*formattazione del footer*/
footer
{
    text-align: center;
    width: 100%;
    background: #8F26E1;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 8em;
    margin-top:2.5em;
}

footer a
{
    font-size: 1.1em;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.6;
}

footer a:hover
{
    opacity: 1;
    color: #ffffff
}

ul.prima_colonna, ul.seconda_colonna, ul.terza_colonna
{
    display: inline-block;
    margin-top: 1.6em;
}

ul.prima_colonna, ul.seconda_colonna
{
    margin-right: 13em;
}

nav.footer-nav li
{
    margin-bottom:0.8em;
}

.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


